{% extends "layout.njk" %}

{% block content %}
<form method="POST" action="/resources">

  <p>Choose your appearance: </p>

  <input type="radio" id="darkChoice"
     name="appearance" value="dark">
    <label for="darkChoice">Dark</label>

  <input type="radio" id="lightChoice"
     name="appearance" value="light">
    <label for="lightChoice">Light</label>

  <button type="submit">
    Submit
  </button>
</form>
{% endblock %}
